

<html>
  <head>
    <title>About</title>
    <link rel="stylesheet" href="about.component.scss">
  </head>
  <body>
  <div class="center">
    <h1>About Us</h1>
    <p>We are a social media site designed for sharing images and connecting with friends and family. Our platform provides a safe and user-friendly space for users to upload and share their favorite photos with their loved ones.</p>
    <p>Our team is dedicated to providing the best possible user experience and we are constantly working to improve our platform and add new features. We value our users' feedback and are always open to suggestions on how we can make our site even better.</p>
    <p>Thank you for choosing our site as your go-to platform for image sharing and social networking. We look forward to continuing to serve you and provide you with the best possible experience.</p>
  </div>
  </body>

</html>
